@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

main{
    overflow: hidden;
}

.form-control:focus{
    border-color: none;
    box-shadow: none;
}

.play{
    background-image: url(/static/images/play.png);
    background-size: cover;
    background-repeat: no-repeat;
}